body {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    /* background-image:url("img/istockphoto-134459953-612x612.jpg");
    background-repeat: no-repeat;
    background-size:cover; */
    font-family: 'Oswald', sans-serif;
    font-family: 'Titillium Web', sans-serif;

}