body {
    /* background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%); */
    background-image:url("../img/bgblue.jpg");
    background-color: rgb(19, 19, 20);
    backdrop-filter: blur(1.7px);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Oswald', sans-serif;
    font-family: 'Titillium Web', sans-serif;

}
.logoo{
    position: absolute;
    width: 200px;
    height: 150px;
    right: -20px;
    top: -35px;
}